In [4]:
import pandas as pd
data = pd.read_csv('D:\Data.csv')
data.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1

In [25]:
import numpy as np

Mean, median, and mode are different measures of center in a numerical data set. 



They each try to summarize a dataset with a single number to represent a "typical" data point from the dataset.

### Mean:

The "average" number; found by adding all data points and dividing by the number of data points.

In [6]:
Annual = data['Annual_HH_Income'].mean()
Annual

490019.04

### Median:

The middle number; found by ordering all data points and picking out the one in the middle (or if there are two middle numbers, taking the mean of those two numbers).

In [7]:
Annual = data['Annual_HH_Income'].median()
Annual

447420.0

### Mode:

The most frequent number—that is, the number that occurs the highest number of times.

In [8]:
Annual = data['Annual_HH_Income'].mode()
Annual

0    590400
dtype: int64

### Variance

Variance refers to a statistical measurement of the spread between numbers in a data set. More specifically, variance measures how far each number in the set is from the mean and thus from every other number in the set. Variance is often depicted by this symbol: σ2.

In [12]:
import statistics 
Annual = data['Annual_HH_Income']
Variance=statistics.variance(Annual) 
Variance

102486925397.91672

In [14]:
Annual = data['Annual_HH_Income'].var()
Annual

102486925397.91666

### Standard Deviation

A standard deviation is a statistic that measures the dispersion of a dataset relative to its mean. The standard deviation is calculated as the square root of variance by determining each data point's deviation relative to the mean. If the data points are further from the mean, there is a higher deviation within the data set; thus, the more spread out the data, the higher the standard deviation.

In [13]:
Annual = data['Annual_HH_Income'].std()
Annual

320135.79212252516

### Correlation

The correlation coefficient is a statistical measure of the strength of the relationship between the relative movements of two variables. The values range between -1.0 and 1.0. A calculated number greater than 1.0 or less than -1.0 means that there was an error in the correlation measurement. A correlation of -1.0 shows a perfect negative correlation, while a correlation of 1.0 shows a perfect positive correlation. A correlation of 0.0 shows no linear relationship between the movement of the two variables.

In [19]:
Annual = data['Annual_HH_Income']
Annual1 = data['No_of_Fly_Members']
Annual2=Annual.corr(Annual1)
Annual2

0.430867599227601

### Normal Distribution

Normal distribution, also known as the Gaussian distribution, is a probability distribution that is symmetric about the mean, showing that data near the mean are more frequent in occurrence than data far from the mean. In graph form, normal distribution will appear as a bell curve.

In [32]:
Annual = data['Annual_HH_Income']
np.random.normal()

-0.8127653096107539

### Feature of Normal Distribution

1. The mean, mode and median are all equal.

2. The curve is symmetric at the center (i.e. around the mean, μ).

3. Exactly half of the values are to the left of center and exactly half the values are to the right.

4. The total area under the curve is 1.

### Positively Skewed & Negatively Skewed Normal Distribution